body {
    background-image: url(nature.png);
    background-size: cover;
    text-align: center;
    color: white;
    margin: 2em;
}
#map {
    width: 400px;
    height: 400px;
}
li {
    display: block;
}
.weather-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3em;
}

input {
    height: 20px;
    padding: 10px;
    border-radius: 20px;
    font-size: 22px;
}
button {
    height: 30px;
}
 #weather-icon, #temperature {
    font-size: 32px;
    margin-top: 0;
}
#list {
    font-size: 26px;
}