body {
    margin:0;
    background:  #D6E9FE;
}
#container {
    margin:0;
    padding:0;
    font-size: 1.1em;    
}
#header {
    text-align: center;
    padding: 80px;
    color: white;
    background: #5995DA;
    font-weight: bolder;
}
#nav ul {
    text-align: center;
}
#nav li {
    display: inline-block;
    padding: 10px;
    background: rgb(249, 249, 250);
}
#nav a {
    text-decoration: none;
    color: rgb(32, 32, 32);
}

.profile-container {
    width:75%;
    margin: 0 auto;
}
#profile {
   padding:20px;
   background: whitesmoke;
   box-shadow: 10px 10px 5px 5px slategray;
   border-radius: 25px;  
}
img {
    width: 100px;
    float: right;
    margin: 5px;
}

.exp-rel-container, .edu-contact-container {
    width:75%;
    margin: 1em auto;
}
#experience, #education, #contact, #hyf {
    background: whitesmoke;
    padding: 10px;
    box-shadow: 10px 10px 5px 5px slategray;
    border-radius: 25px;
}
#experience, #education {
    width: 58%;
    float: left;
    margin: 1em auto;
}
#hyf, #contact {
    float: right;
    width:35%;
    height:400px;
    margin: 1em auto;
}
#contact {
    height: 170px;
}
#hyf ul {
    list-style: none;
}

table, th, td {
    border:1px solid black;
} 

#footer {
    padding: 10px;
    clear:both;
    background: rgb(117, 124, 126);
    color: white;
}

    
    